@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


body{
	font-family: Lato; /* Need to update different fonts based on browser */
	font-size: 16px; 
	font-weight: 300px; 
	background-color:#E9EAEE; 
}
h2{
	color:#BC6026;
}

.svg{
	height:16px;
}
.navbar{
	background-color: #181C22;
	min-height: 30px;
}
#navbar-options li{
	display: inline;
	padding: 0.5em;
	font-variant: small-caps;
	list-style: none;
}
#navbar-options a{
	color: white;
}
#navbar-options a:hover{
	color: #D87E28;
	text-decoration: none;
}
#header p{
	visibility: hidden;
}
#headline{
	font-style: italic;
	text-align: left;
	margin-top: 3em;
	margin-bottom: 3em;
}
#headline-icon{
	visibility: hidden;
}

#cafe-info{
	background-color: #DBDCE3;
	text-align: center;
	content: center;
}
#cafe-info img{
	border-radius: 5px;
}
#menu h3{
	padding-bottom: 10px;
}
#menu h4{
	font-weight: bold;
}
#menu h5{
	padding-left: 1em;
	font-style: italic; /*Visual speration of list items for mobile*/
}
#story{
	background-color: #DBDCE3;
}
#story img{
	max-height: 300px;
	margin-left: 1em;
	float: right;
	border-radius: 5px;
}
@media screen and (min-width:768px){
	body{
		font-size:20;
	}
	h2{
		text-align: center;
		/* include padding equal to height of the current font */
	}
	.svg{
		height: 20px;
	}
	.navbar{
		background-color: rgba(24, 28, 34, 0.8);

	}
	#navbar-options > li{
		padding-left: 1em;
		padding-right: 1em;
		font-size:20;
	}
	#header{
		text-align: right;
		color: white;
	}
	#header p{
		visibility: visible;
	}
	#headline{
		text-align: center;
		font-size: 1.25em;
	}
	#headline-icon{
		height: 1.5em;
		margin-bottom: 1em;
		visibility: visible;
	}


	#story img{
		max-height: 400px;
	}
}
@media screen and (min-width:992px){

}
