@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


body{
	font-family: Lato; /* Need to update different fonts based on browser */
	font-size: 16px; 
	font-weight: 300px; 
	background-color:#E9EAEE; 
}
h2{
	color:#BC6026;
}
.svg{
	height:16px;
}
.navbar{
	background-color: #181C22;
	color:white;
}

#navbar-icon{
	margin-left: 15px;
}
.navbar-collapse{
	display: inline;
}
.navbar-header{
	display: inline;
}

@media screen and (min-width:768px){
	body{
		font-size: 20;
	}
	h2{
		text-align: center;
		/* include padding equal to height of the current font */
	}
	.svg{
		height: 20px;
	}
	.navbar{
		background-color: rgba(24, 28, 34, 0.8);
	}
}

