@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


body{
	font-family: Lato; 
	font-size: 16px; 
	font-weight: 300px; 
	background-color:#E9EAEE; 
}
h1,h2,h3,h4,h5,{
	font-family: Raleway;
}
h2{
	color:#BC6026;
}
.svg-icons {
	height:16px;
	fill:currentColor;
	display: inline;
}
#contact-info{
	fill: #BC6026;
}
.navbar{
	background-color: #181C22;
	min-height: 30px;
}
#navbar-options li{
	display: inline;
	padding: 0.5em;
	font-variant: small-caps;
	list-style: none;
}
#navbar-options a{
	color: white;
}
#navbar-options a:hover{
	color: #D87E28;
	text-decoration: none;
}

#header{
	padding-top: 3em;
}
#header p{
	visibility: hidden;
}
#headline{
	font-style: italic;
	text-align: left;
	margin-top: 3em;
	margin-bottom: 3em;
}
#headline-selection svg{
	visibility: hidden;
}
#cafe-info{
	background-color: #DBDCE3;
	text-align: center;
	content: center;
}
#cafe-info img{
	border-radius: 5px;
	fill:#D87E28;
}
#menu h3{
	padding-bottom: 10px;
}
#menu h4{
	font-weight: bold;
}
#menu h5{
	padding-left: 1em;
	font-style: italic; /*Visual speration of list items for mobile*/
}
#story{
	background-color: #DBDCE3;
}
#story img{
	max-height: 300px;
	margin-left: 1em;
	float: right;
	border-radius: 5px;
}
#footer{
	border-top: 3px;
	background: #afb3c2;
	border-top-style: solid;
	border-top-color: #D87E28;
	font-size: 12px;
	clear: right;
}
/*Change layout for non-mobile browsers*/
@media screen and (min-width:768px){
	body{
		font-size:20;
	}
	h2{
		text-align: center;
		padding-bottom: 1em;
	}
	.svg-icons{
		height: 20px;
	}
	.navbar{
		background-color: rgba(24, 28, 34, 0.8);

	}
	#navbar-options > li{
		padding-left: 1em;
		padding-right: 1em;
		font-size:20;
	}
	#header{
		text-align: right;
		color: white;
		background-image: url('../img/background-sm.jpg');
		min-height: 550px;
		background-repeat: no-repeat;	
	}
	#header p{
		visibility: visible;
	}
	#headline{
		text-align: center;
		font-size: 1.25em;
	}
	#headline-selection svg{
		height: 1.5em;
		margin-bottom: 1em;
		visibility: visible;
	}
	#story img{
		max-height: 400px;
	}
	#footer .col-sm-9{
		text-align: right;
	}
}
@media screen and (min-width:992px){
	#header{
		background-image: url('../img/background-md.jpg');
	}
	#header h1{
		font-size: 4em;
	}
}
@media screen and (min-width:1200px){
		#header{
		background-image: url('../img/background-lg.jpg');
		content: middle;
	}
}
